[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BMisc"]
	path = BMisc
	url = https://github.com/bcallaway11/bmisc
[submodule "did"]
	path = did
	url = https://github.com/bcallaway11/did
[submodule "qte"]
	path = qte
	url = https://github.com/bcallaway11/qte
